<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-08-14-educational-programs-exam-questions-and-literature.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571305</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-equivalence-classes-and-boundary-value-analysis.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572998</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-12-bug-report.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68573105</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-07-software-testing-list-of-definitions.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572199</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-08-types-of-software-testingmd.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571901</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-25-need-for-testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572199</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-28-place-of-testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572295</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-09-definition-of-the-defect-software.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572295</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-30-principles-of-software-testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572402</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-19-the-decision-of-test-tasks-for-interviews.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571603</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-21-models-of-software-development.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571699</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-27-levels-of-testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572104</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-31-sanity-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572795</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-10-09-test-case.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571806</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-03-roles-and-responsibilities-of-software-development-participants.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.685727</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-07-requirements-and-specifications-concept-types-and-content.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571997</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-13-non-functional-types-of-software-testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572605</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-15-skills-and-competences-in-the-field-of-quality-assurancemd.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572497</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-16-defining-and-drafting-a-test-strategy.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571997</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-25-risks-and-software-testingmd.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571901</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-04-15-pinboard-in-fifteenth.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572497</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-04-23-priorities-of-test-cases.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572605</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-02-automate-the-boring-stuff-with-python.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572903</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-06-decision-tables.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68572903</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-09-test design.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>548497535.91332495</real>
				<key>lastModification</key>
				<real>548497535.91332495</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2018-05-09-test-design.md</key>
			<dict>
				<key>lastModification</key>
				<real>548497779.97272003</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2018-05-20-critical-testing-processes.md</key>
			<dict>
				<key>lastModification</key>
				<real>548497807.69388294</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2018-05-20-list-of-books-to-read.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496507.73255503</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.685727</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>python.md</key>
			<dict>
				<key>lastModification</key>
				<real>548496488.68571806</real>
				<key>version</key>
				<dict>
					<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>548497695.61270201</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-05-20-critical-testing-processes.md</string>
		</array>
		<array>
			<string>2016-08-14-educational-programs-exam-questions-and-literature.md</string>
		</array>
		<array>
			<string>2018-05-20-list-of-books-to-read.md</string>
		</array>
		<array>
			<string>2017-08-19-the-decision-of-test-tasks-for-interviews.md</string>
		</array>
		<array>
			<string>2017-08-21-models-of-software-development.md</string>
		</array>
		<array>
			<string>2017-10-09-test-case.md</string>
		</array>
		<array>
			<string>python.md</string>
		</array>
		<array>
			<string>2018-02-25-risks-and-software-testingmd.md</string>
		</array>
		<array>
			<string>2017-05-08-types-of-software-testingmd.md</string>
		</array>
		<array>
			<string>2018-02-16-defining-and-drafting-a-test-strategy.md</string>
		</array>
		<array>
			<string>2017-12-07-requirements-and-specifications-concept-types-and-content.md</string>
		</array>
		<array>
			<string>2017-08-27-levels-of-testing.md</string>
		</array>
		<array>
			<string>2017-05-07-software-testing-list-of-definitions.md</string>
		</array>
		<array>
			<string>2017-05-25-need-for-testing.md</string>
		</array>
		<array>
			<string>2017-05-28-place-of-testing.md</string>
		</array>
		<array>
			<string>2017-07-09-definition-of-the-defect-software.md</string>
		</array>
		<array>
			<string>2017-07-30-principles-of-software-testing.md</string>
		</array>
		<array>
			<string>2018-02-15-skills-and-competences-in-the-field-of-quality-assurancemd.md</string>
		</array>
		<array>
			<string>2018-04-15-pinboard-in-fifteenth.md</string>
		</array>
		<array>
			<string>2018-02-13-non-functional-types-of-software-testing.md</string>
		</array>
		<array>
			<string>2018-04-23-priorities-of-test-cases.md</string>
		</array>
		<array>
			<string>2017-12-03-roles-and-responsibilities-of-software-development-participants.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>2017-08-31-sanity-test.md</string>
		</array>
		<array>
			<string>2018-05-06-decision-tables.md</string>
		</array>
		<array>
			<string>2018-05-02-automate-the-boring-stuff-with-python.md</string>
		</array>
		<array>
			<string>2016-09-04-equivalence-classes-and-boundary-value-analysis.md</string>
		</array>
		<array>
			<string>2018-05-09-test design.md</string>
		</array>
		<array>
			<string>2017-02-12-bug-report.md</string>
		</array>
		<array>
			<string>2018-05-09-test-design.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>8606F8EC-F24F-4E03-A866-1B1948299EB6</key>
			<integer>2</integer>
			<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
			<integer>17</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a407a2d06ad7b27ad12e1ec9a8e40db5e29d3e19e1bd9453ddb08a077f419c36</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
